<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs')%>
    
<body>
    <h1>FRIDAY</h1> 
    <a href="/planner/friday/new"><button>Create new task</button></a>

        <% for(task of tasks) { %>
            <a href="/planner/friday/<%=task._id%>"><h3><%=task.taskName%></h3></a><p><%=task.urgent ? "urgent" : "" %></p>
        <% } %>

        <a href="/planner"><button>Back to Planner</button></a>
</body>
</html>