<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/dayIndex.css">
    </head>
<body>
    <div class="logo">
        <img src="https://i.imgur.com/t10gAFN.png">    
        </div>
    
            <div class="content">
            <h1>FRIDAY</h1>
            <% for(let task of tasks) { %>
                <h3>
                    <span class="taskDate"><%=task.date%> :</span> 
                    <span class="taskName"><a href="/planner/friday/<%=task._id%>"><%=task.taskName%></a></span>
                    <% if(task.urgent === true ){ %>
                    <span style="color: red"> - urgent</span>
                    <% } %>
                </h3> 
            <% } %>
    
            <div class="buttons">
            <a href="/planner/friday/new"><button class="newTaskButton">Create New Task</button></a>
            <a href="/planner"><button class="backToPlannerButton">Back to Planner</button></a>
            </div>
            </div>
            <div class="space"></div>
</body>
</html>