<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/newEdit.css">
    </head>
    
<body>
    
    <div class="container">
        <h1>
            New Friday Task
        </h1>
        <form action="/planner/friday" method="POST">
            <input type="hidden" name="day" value="friday">
            <label>To Do: <input type="text" name="taskName" placeholder="I need to..."/></label>
            <label>Date: <input type="text" name="date" placeholder="On..."/></label>
            <label>Details: <input type="text" name="taskDetail" placeholder="Don't forget..."/></label> 
            <div class="urgencyCheckbox"><label>Is this urgent? <input type="checkbox" name="urgent"></label></div>
            <input class="addTaskButtton" type="submit" value="Add Task"/>
        </form>
        
        <a href="/planner/friday"><button>Back to Tasks</button></a>
        
    </div>

</body>
</html>