<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/index.css">

    </head>
<body>
    <div class="logoLine">
        <img src="https://i.imgur.com/t10gAFN.png">
        <h1>W</h1>
        <h1>E</h1>
        <h1>E</h1>
        <h1>K</h1>
        <h1>L</h1>
        <h1>Y</h1>
    </div>
    <div class="mainContainer">
            <div class="monday">
                <a href="/planner/monday">Monday</a>
            </div>
            <div class="tuesday">
                <a href="/planner/tuesday">Tuesday</a>
            </div>
            <div class="wednesday">
                <a href="/planner/wednesday">Wednesday</a>
            </div>
            <div class="thursday">
                <a href="/planner/thursday">Thursday</a>
            </div>
            <div class="friday">
                <a href="/planner/friday">Friday</a>
            </div>
            <div class="satSun">
                <a href="/planner/saturday/sunday">Saturday & Sunday</a>
        </div>
</div>

</body>

</html>