body {
    background: #FFF4E9;
    text-align: center;
    font-family: 'Limelight', cursive;
    display: flex;
    min-width: 1017px;
}

h1 {
    font-size: 55px;
    background-image: linear-gradient(
    -225deg,
    #fff 0%,
    #8d6e63 29%,
    #decccc 67%,
    #8d6e63 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

a, .taskDate {
  color: #600701;
}

button {
    background-color: white;
    color: #8d6e63;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Limelight', cursive;
    border: none;
    box-shadow: 0px 8px 15px #decccc;
    margin: 20px 5px;
    cursor: pointer;
}

img {
  width: 130px;
  height: 130px;
  margin: 0px 0px 0px 20px;
  overflow: auto;
  float: left;
}

.logo, .content, .space {
  width: 33%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.newTaskButton:hover {
    background-color: #a5d6a7;
    color: white;
    transition: 500ms;
}

.backToPlannerButton:hover {
    background-color: #42281f;
    color: white;
    transition: 500ms;
}