body {
    font-family: 'Limelight', cursive;
    background: #FFF4E9;
    min-width: 1408px;
    min-height: 944px;
    width: 80%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px 0px 0px 80px;
    color: #C3A29E
} 

img {
    width: 130px;
    height: 130px;
    margin: 0px 0px 50px 80px;
}

.logoLine {
    overflow: auto;
    float: left;
}

.mainContainer {
    display: flex; /* flex will create a box that will put my children in a row by default */
    flex-wrap: wrap; /* sets whether flex items are forced onto one line or can wrap onto multipl */
    justify-content: center;
    margin: 50px 0px 0px 0px

}

.monday, .tuesday, .wednesday, .thursday, .friday, .satSun {
    display: flex;
    margin: 5px;
}

a {
    width: 500px;
    height: 250px;
    border: 1px solid #C3A29E;
    font-size: 55px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    color: #6d4c41;
}